 @import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Sans", sans-serif;
}

/* Body */
body {
    background-color: #F81A99;
    color: #333;
    min-height: 100vh;
    padding-top: 80px;
}

/* Dashboard container */
.dashboard-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

/* Hospital Table Container */
.hospital-table-container {
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Heading */
.hospital-table-container h2 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
    color: #1f2937;
}

/* Tabs */
.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #e5e7eb;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 15px;
}

.tab.active {
    background-color: #F81A99;
    color: white;
}

.tab:hover {
    background-color: #ff4db8;
    color: white;
}

/* Hospital Table Container */
.hospital-table-container {
    width: 70%;
    margin: 80px auto 40px auto;
    padding: 25px 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.hospital-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 16px;
}   

.hospital-table th,
.hospital-table td {
    padding: 10px 15px;
}

.hospital-table thead {
    color: black;
    font-weight: 600;
    font-size: 17px;
}

.hospital-table tbody tr {
    border-bottom: 1px solid #e5e7eb;
    transition: background-color 0.2s;
}

.hospital-table tbody tr:hover {
    background-color: #ffe6f0;
}

/* Delete Button */
.delete-btn {
    padding: 5px 12px;
    border: none;
    border-radius: 6px;
    background-color: #ef4444;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    transition: 0.3s;
}

.delete-btn:hover {
    background-color: #dc2626;
}


/* Responsive */
@media screen and (max-width: 768px) {
    .hospital-table-container {
        padding: 15px;
    }

    .hospital-table th,
    .hospital-table td {
        padding: 10px;
    }

    .tabs {
        flex-direction: column;
        gap: 8px;
    }
}