



/* MAIN CONTENT */
.dashboard-content {
    margin: 80px 80px;
}

.dashboard-content h1 {
    font-size: 34px;
    color: #3A3A3A;
    text-align: left;
    margin-bottom: 60px;
}

.highlight {
    color: #F81A99;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    /* border: 1px solid violet; */
}

.card {
    background: #fff;
    width: 350px;
    height: 180px;
    border-radius: 25px;
    /* border: 1px solid violet; */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #A7A7A7;
    font-size: 15px;
    padding: 45px 25px 25px 25px;
    transition: margin-top 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    margin-top: -10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.card p {
    margin: 0;
    padding: 0;
    /* border: 1px solid #3A3A3A; */
    font-size: 14px;
    color: #B3A4A7;
}

.card .total {
    font-size: 96px;
    color: #F81A99;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .cards {
        justify-content: center;
    }

    .card {
        width: 80%;
    }

    .dashboard-content {
        margin: 60px 40px;
    }
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .dashboard-content h1 {
        text-align: center;
    }
}