




/* MAIN CONTENT */
.container {
    /* border: 1px solid saddlebrown; */
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p {
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    background: #fff;
    /* border: 1px solid violet; */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.card.donate-blood {
    display: flex;
    background: #fff;
    /* border: 1px solid violet; */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 660px;
    min-height: 660px;
    max-height: 660px;
}




/* RED LEVEL ELEMENTS */




.red {
    /* border: 1px solid red; */
    display: flex;
}


.red.h-divider{
    border-top: 2px solid #D9D9D9;
}

h2.red {
    padding: 25px;
    font-weight: lighter;
    margin: 15px 0px 0px 0px;
    font-size: 22px;  
    color: #3A3A3A;
}

.red.hospital-requests-list {
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 0 0 25px 25px;
}
.red.hospital-requests-list::-webkit-scrollbar {
    overflow: hidden;
    width: 15px;
    height: 10px;
}
.red.hospital-requests-list::-webkit-scrollbar-track {
    background-color: transparent;
}
.red.hospital-requests-list::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border-radius: 100px;
}
.red.hospital-requests-list::-webkit-scrollbar-thumb:hover {
    background-color: #a2a2a2;
}
.red.hospital-requests-list::-webkit-scrollbar-button:vertical:decrement {
    height: 1px;
}
.red.hospital-requests-list::-webkit-scrollbar-button:vertical:increment {
    height: 15px;
}




/* RED LEVEL ELEMENTS */




.orange {
    /* border: 1px solid orange; */
    display: flex;
}

.orange.row {
    border-bottom: 1px solid #D9D9D9;
    height: 90px;
    min-height: 90px;
    cursor: pointer;
}

.orange.row:hover {
    background-color: #F9F9F9;
    z-index: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.orange.empty-text {
    padding: 33px 0px;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: #A7A7A7;
    font-size: 15px;
}




/* RED LEVEL ELEMENTS */




.yellow {
    display: flex;
    align-items: center;
    /* border: 1px solid gold; */
}

.yellow.col {
    flex-direction: row;
    gap: 15px;
}

.yellow.col.hospital {
    padding: 0 15px 0 25px;
    width: 70%;
}

.yellow.col.needed-units {
    width: 30%;
}




/* RED LEVEL ELEMENTS */




.green {
    /* border: 1px solid greenyellow; */
    display: flex;
}

p.green {
    width: 100%;
}

.green.icon {
    width: 20px;
    height: 20px;
}

.green.icon.is-emergency {
    fill: #FF0048;
}

.green.icon.urgency.medium {
    fill: #FFD038;
}

.green.icon.urgency.high {
    fill: #FF3870;
}

.yellow.needed-units .green.icon {
    fill: #FF0E77;
}

.yellow.needed-units p.green {
    color: #B3A3A7;
}

.yellow.needed-units p.green span {
    color: #3A3A3A;
}

















/* FOR THE APPOINTMENT FORM */

.modal {
    position: fixed;
    box-sizing: border-box;
    display: flex;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}




/* RED LEVEL ELEMENTS */




form.red.card {
    position: relative;
    min-height: 500px;
    height: 500px;
    max-height: 500px;
    min-width: 750px;
    max-width: 750px;
}




/* ORANGE LEVEL ELEMENTS */




.orange.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.orange.label{
    margin: 30px 17px 0px 17px;
    padding-left: 15px;
    padding-bottom: 7px;
    font-size: 18px;
    border-bottom: 1.5px solid #D9D9D9;
}

.orange.form {
    height: 100%;
    width: 100%;
}




/* YELLOW LEVEL ELEMENTS */




.yellow.calendar-container {
    height: 100%;
    justify-content: center;
    width: 60%;
}

.yellow.time-slot {
    height: 100%;
    width: 40%;
}




/* GREEN LEVEL ELEMENTS */




.green.calendar {
    /* border: 1px solid greenyellow; */
}

/* Base calendar container */
.flatpickr-calendar {
    margin: 0 30px 0 30px;
    width: 75%;
    /* border: 1px solid greenyellow; */
    box-shadow: none;
    font-family: 'Instrument Sans', sans-serif;
}


.flatpickr-innerContainer {
    display: flex;
    flex-direction: column; /* stack vertically */
    width: 100%;
    /* border: 1px solid greenyellow; */
}

.flatpickr-current-month {
    font-size: 16px;
}

.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
    user-select: none;
    /* border: 1px solid greenyellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    top: 0;
    box-sizing: border-box;
    padding: 0;
    z-index: 3;
    color: rgba(0, 0, 0, 0.9);
    fill: rgba(0, 0, 0, 0.9);
}

.flatpickr-current-month .flatpickr-monthDropdown-months, .flatpickr-current-month input.cur-year {
    font-weight: bold;
}

.flatpickr-weekdays {
    /* border: 1px solid greenyellow; */
    width: 100%;
}

.flatpickr-weekdaycontainer{
    
    /* border: 1px solid greenyellow; */
    width: 100%;
}

.flatpickr-rContainer {
    
    /* border: 1px solid greenyellow; */
    width: 100%;
}

span.flatpickr-weekday {
    color: #3A3A3A;
    font-weight: lighter;
}

.flatpickr-days {
    font-size: 12px;
    display: grid;
    width: 100%;
    /* border: 1px solid greenyellow; */
}

.dayContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 days per week */
    width: 100% !important; /* override inline width */
    max-width: none !important; /* remove limit */
    min-width: 0 !important; /* remove min */
    justify-content: space-between; /* optional: spreads the days evenly */
    /* border: 1px solid greenyellow; */
    box-sizing: border-box;
    
}

.flatpickr-day {
    height: 47px;
    display: flex;
    background-color: #FFEAF6;
    align-items: center;
    justify-content: center;
    max-width: none;
    width: 100% !important;
    text-align: center;
    border-radius: 0;
    border: 1px solid #e6e6ed; /* light border for layout check */
    box-sizing: border-box;
}

.flatpickr-day:hover {
    background-color: #f8d1e7;
}

.flatpickr-day.selected {
    color: #fff;
    background-color: #F81A99;
    border:  1px solid #e6e6ed;
}

.flatpickr-day.selected:hover {
    color: #fff;
    background-color: #F81A99;
    border:  1px solid #e6e6ed;
    cursor: default;
}

.flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover {
    border: 0.5px solid #e6e6ed !important;
    opacity: 1 !important;
    background: transparent;
    color: #3A3A3A;
    cursor: default;
}

.flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover {
    cursor: default;
}

.flatpickr-day.nextMonthDay.flatpickr-disabled, .flatpickr-day.prevMonthDay.flatpickr-disabled {
    background-color: #F9F8F8;
    color: #B3A3A7;
}

.yellow.time-slot .green.section{
    width: 80%;
    height: 100%;
    flex-direction: column;
    gap: 25px;
    box-sizing: border-box;
    padding: 40px 0 20px 0;
} 




/* BLUE LEVEL ELEMENTS */





.blue {
    display: flex;
    /* border: 1px solid rgb(0, 170, 255); */
}

.blue.time-slot-selection {
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.blue.schedule {
    flex-direction: column;
    position: relative;
}

button.blue {
    padding: 10px 0;
    justify-content: center;
    align-items: center;
}







/* INDIGO LEVEL ELEMENTS */





.indigo {
    display: flex;
    /* border: 1px solid rgb(63, 0, 210); */
}

.blue.time-slot-selection div.indigo {
    gap: 10px;
    overflow-y: auto;
    width: 100%;
    flex-direction: column;
    height: 170px;
    max-height: 170px;
    border-radius: 13px;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    background-color: #F1F1F1;
}

.blue.time-slot-selection div.indigo::-webkit-scrollbar {
    width: 20px;
}

.blue.time-slot-selection div.indigo::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border: 5px solid #F1F1F1;
    border-radius: 50px;
}

.blue.time-slot-selection div.indigo::-webkit-scrollbar-thumb:hover {
    background-color: #a2a2a2;
}

.blue.time-slot-selection div.indigo::-webkit-scrollbar-button {
    height: 1px;
}

.indigo.errors-container {
    position: absolute;
    flex-direction: column;
}

.blue .date {
    height: 26px;
    font-size: 18px;
}

.blue .time {
    color: #B3A3A7;
    height: 20px;
    font-size: 14px;
}







/* MAGENTA LEVEL ELEMENTS */






.magenta {
    display: flex;
    /* border: 1px solid magenta; */
}

.magenta.empty-slots {
    height: 100%;
    color: #B3A3A7;
    align-items: center;
    justify-content: center;
}

.magenta.slot {
    box-sizing: border-box;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #D5D4DF;
    background-color: #FFEAF6;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
}

.magenta.slot:hover {
    background-color: #f8d1e7;
}

.magenta.slot.disabled {
    background-color: #FDFDFD;
    color: #E1E1E1;
    cursor: default;
}

.magenta.slot.selected {
    background-color: #F81A99;
    color: #fff;
    border: none;
}

.magenta.slot.first {
    margin-top: 10px;
}

.magenta.slot.last {
    margin-bottom: 10px;
}

.magenta.date, .magenta.time {
    align-items: center;
    gap: 5px;
}

.shake {
    animation: shake 0.2s ease-in-out;
}






/* BROWN LEVEL ELEMENTS */






.brown {
    display: flex;
    /* border: 1px solid brown; */
}

p.brown {
    align-items: center;
}

.brown.icon {
    fill: red;
    height: 15px;
    width: 15px;
    visibility: hidden;
}

.brown.icon.show {
    visibility: visible;
}

.brown.custom-error {
    color: red;
    font-size: 12px;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); } /* Start and end at original position */
    10% { transform: translateX(-5px); } /* Move left */
    20% { transform: translateX(5px); } /* Move right */
}

















/* FOR THE SUCCESS OVERLAY */

.modal.fade-out {
    visibility: hidden;
    opacity: 0;
}






/* RED LEVEL ELEMENTS */






.red.success.card {
    position: relative;
}






/* ORANGE LEVEL ELEMENTS */






#success-animation {
    margin: 0 45px 40px 45px;
}

.red.success.card p.orange {
    font-size: 18px;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 220px;
}

















/* FOR THE LOADING OVERLAY */

#loading-modal {
    z-index: 1000px;
}

