


    .site-header {
        width: 100%;
        border: 1px solid rgb(18, 42, 42);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Poppins', sans-serif;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        /*border: 1px solid black;*/
        height: 70px;
    }

    .nav-links {
        /*border: 1px solid blue;*/
        display: flex;
        align-items: center;
        gap: 23px;
    }

    .nav-btn{
        cursor: default;
        padding: 5px;
        /*border: 1px solid rgb(230, 0, 255);*/
        border-radius: 5px;
        font-size: 16px;
        font-family: 'Instrument Sans';
        text-decoration: none;
        color: #333;
        font-weight: 500;
    }

    .nav-btn:hover {
        background-color: #F5E8F0;
    }

    .dropdown {
        cursor: default;
        /*border: 1px solid rgb(64, 255, 80);*/
        position: relative;
    }

    .dropbtn {
        display: flex;
        gap: 5px;
        padding: 5px;
        font-size: 16px;
        font-family: 'Instrument Sans';
        border: none;
        color: #333;
        cursor: default;
    }

    .dropbtn p {
        /*border: 1px solid saddlebrown;*/
        margin: 0px;
        text-align: right;
    }

    .arrow-icon {
        fill: #3A3A3A;
        transition: transform 0.05s ease-in-out; 
        height: 20px;
    }

    .arrow-icon.rotate {
        transform: rotate(180deg);
    }


    .dropdown-content {
        background-color: white;
        display: none;
        width: 160px;
        padding: 20px 10px;
        position: absolute;
        top: 110%;
        right: 0;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        border-radius: 10px;
        z-index: 10;
    }

    .dropdown-content.show {
        display: block;
    }


    .dropdown-content a {
        cursor: default;
        border-radius: 5px;
        font-size: 16px;
        font-family: 'Instrument Sans';
        display: block;
        padding: 10px 15px;
        color: #B3A3A7;
        text-decoration: none;
    }

    .dropdown-content a:hover {
        background-color: #F2F3F3;
        color: #3A3A3A;
    }

    /* .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .arrow-icon {
        transform: rotate(180deg);
    } */

    .profile-icon {
        border-radius: 50%;
        /*border: 1px solid rgb(212, 38, 38);*/
        height: 40px;
        width: 40px;
        padding: 0px;
        margin: 0px;
    }

    .profile-icon img {
        border-radius: 50%;
        size: cover;
        height: 100%;
        width: 100%;
        border-radius: 50px;
    }