.site-header {
    width: 100%;
    /* border: 1px solid rgb(18, 42, 42); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Instrument Sans';
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    /*border: 1px solid black;*/
    height: 70px;
}

.logo p {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    /*border: 1px solid blue;*/
    display: flex;
    align-items: center;
    gap: 23px;
}

.nav-btn {
    cursor: pointer;
    padding: 5px;
    /*border: 1px solid rgb(230, 0, 255);*/
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-btn:hover {
    cursor: pointer;
    background-color: #F5E8F0;
}

.nav-btn:active {
    background-color: #e9d1df;
}

.dropdown {
    cursor: pointer;
    /* border: 1px solid rgb(64, 255, 80); */
    position: relative;
}

.dropbtn {
    display: flex;
    gap: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Instrument Sans';
    border: none;
    color: #333;
    cursor: default;
}

.dropbtn p {
    /*border: 1px solid saddlebrown;*/
    cursor: pointer;
    margin: 0px;
    text-align: right;
}

.arrow-icon {
    fill: #3A3A3A;
    transition: transform 0.05s ease-in-out;
    height: 20px;
}

.arrow-icon.rotate {
    transform: rotate(180deg);
}


.dropdown-content {
    background-color: white;
    display: none;
    width: 160px;
    padding: 20px 10px;
    position: absolute;
    top: 115%;
    right: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 10;
}

.dropdown-content.show {
    display: block;
}


.dropdown-content a {
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Instrument Sans';
    display: block;
    padding: 10px 15px;
    color: #B3A3A7;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #F2F3F3;
    color: #3A3A3A;
}




.notification-button {
    padding: 10px;
    display: flex;
    align-items: center;
    /* border: 1px solid #40ff50; */
    border-radius: 100%;
    position: relative;
    transition: background-color 0.1s;
}

.notification-button:has(.notification-hitbox:hover) {
    background-color: #F5E8F0;
}

.notification-button:has(.notification-hitbox:active) {
    background-color: #e9d1df;
}

.notification-button:has(.notification-icon.focus) {
    background-color: #ffe7f5;
}

.notification-button:has(.notification-icon.focus):has(.notification-hitbox:hover) {
    background-color: #ffd9ef;
}

.notification-button .notification-hitbox{
    cursor: pointer;
    top: 0;
    left: 0;
    position: absolute;
    padding: 10px;
    width: 25px;
    height: 25px;
    z-index: 3;
    background-color: #333;
    opacity: 0;
}

.notification-button .notification-icon {
    z-index: 1;
    width: 25px;
    height: 25px;
}

.notification-button .notification-icon.focus {
    fill: #F81A99;
}

.notification-button .badge {
    visibility: hidden;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 13px;
    margin: 0;
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding-top: 1px;
    border: 2px solid #FFF8FC;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: red;
}

.notification-button .badge.show {
    visibility: visible;
}

.notification-button .notification-popup-overlay {
    display: none;
    opacity: 0;
    top: 100%;
    right: 0;
    transform: translateX(6%);
    position: absolute;
    z-index: 10000;
    /* border: 1px solid violet; */
    transition: opacity 0.2s;
}

.notification-button .notification-popup-overlay.show {
    display: flex;
    opacity: 1;
}

.notification-button .notification-popup-overlay.fade-out {
    display: none;
    opacity: 0;
}

.notification-popup-overlay .popup-bg path {
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
}

.notification-button .popup-message {
    top: 15%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.popup-message .icon{
    fill: #FF0048;
    width: 18px;
    height: 18px;
}

.notification-button .notification-overlay {
    display: none;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    top: 100%;
    right: 0;
    transform: translateX(17.5%);
    background-color: #fff;
    position: absolute;
    width: 350px;
    max-height: 550px;
    height: 550px;
    padding: 5px 8px 15px 8px;
    box-sizing: border-box;
    z-index: 10000;
}

.notification-button .notification-overlay.show {
    display: flex;
}

.notification-overlay .notification-label {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 20px;
    border-bottom: 1.5px solid #E3E3E3;
    /* border: 1px solid violet; */
    padding: 0 12px 3px 12px;
    z-index: 10;
}

.notification-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    height: 100%;
}

.notification-list::-webkit-scrollbar {
    overflow: hidden;
    width: 10px;
    height: 10px;
}
.notification-list::-webkit-scrollbar-track {
    background-color: transparent;
}
.notification-list::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border-radius: 100px;
}
.notification-list::-webkit-scrollbar-thumb:hover {
    background-color: #a2a2a2;
}
.notification-list::-webkit-scrollbar-button:vertical:decrement {
    height: 1px;
}
.notification-list::-webkit-scrollbar-button:vertical:increment {
    height: 7px;
}

.notification-item {
    margin-right: 8px;
    box-sizing: border-box;
    padding: 25px 15px 25px 20px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification-item.first {
    margin-top: 15px;
}

.notification-item.last {
    margin-bottom: 15px;
}

.notification-item:hover {
    cursor: pointer;
    background-color: #F9F9F9;
}

.notification-item svg {
    fill: #B3A3A7;
}

.notification-item p {
    margin: 0;
    font-size: 12px;
    color: #B3A3A7;
}

.notification-list .item-header {
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 1px solid red; */
}

.item-header .header-label {
    font-size: 16px;
    color: #3A3A3A;
}

.item-header .unread {
    visibility: visible;
    margin-left: auto;
    background-color: #F81A99;
    border-radius: 100%;
    min-width: 1vw;
    min-height: 1vw;
    max-width: 1vw;
    max-height: 1vw;
}

.item-header .read {
    visibility: hidden;
}

.notification-list .item-hospital {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.notification-list .item-units {
    gap: 1.1rem;
    display: flex;
    align-items: center;
}

.notification-list .item-days-left {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.notification-overlay .notification-empty {
    color: #B3A3A7;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.profile-icon {
    border-radius: 50%;
    /*border: 1px solid rgb(212, 38, 38);*/
    height: 40px;
    width: 40px;
    padding: 0px;
    margin: 0px;
}

.profile-icon img {
    border-radius: 50%;
    size: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}