


/* MAIN CONTENT */
.history {
    /* border: 1px solid saddlebrown; */
    margin: 20px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #fff;
    width: 80%;
    min-height: 660px;
    max-height: 660px;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.spacing {
    /* border: 1px solid darksalmon; */
    padding: 25px;
}

.v-divider{
    border-top: 2px solid #D9D9D9;
}

.card h2 {
    font-weight: lighter;
    /* border: 1px solid goldenrod; */
    margin: 15px 0px 0px 0px;
    font-size: 22px;  
    color: #3A3A3A;
}

.empty-text {
    padding: 33px 0px;
    margin: 0;
    /* border: 1px solid blue; */
    text-align: center;
    color: #A7A7A7;
    font-size: 15px;
}

/* Header Row */
.history-header {
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.history-header span {
    /* border: 1px solid saddlebrown; */
}

.date {
    text-align: center;
    /* border: 1px solid firebrick; */
    width: 175px;
}

.hospital {
    /* border: 1px solid firebrick; */
    margin-left: 30px;
}

.status {
    text-align: center;
    /* border: 1px solid saddlebrown; */
    margin-left: auto;
    width: 185px;
}

/* Scrollable List */
.history-list {
    /* border: 1px solid saddlebrown; */
    max-height: 565px;
    overflow-y: auto;
}

.history-list::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}

.history-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.history-list::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border-radius: 100px;
}

.history-list::-webkit-scrollbar-thumb:hover {
    background-color: #a2a2a2;
}

.history-list::-webkit-scrollbar-button:vertical:decrement {
    /* Hide the top scroll button */
    display: none;
}

.history-list::-webkit-scrollbar-button:vertical:increment {
    background-color: transparent; /* Or any color you want */
    display: block; /* Make sure the button is visible */
    height: 15px; /* Set a height, matching the scrollbar width */
    width: 15px;
}

.history-list.tallest {
    border-radius: 0 0 25px 25px;
}

.history-row {
    display: flex;
    flex-direction: row;
    padding: 27px 20px;
    border-bottom: 1px solid #D9D9D9;
}

.history-row:hover {
    background-color: #F9F9F9;
    z-index: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.history-row .date {
    display: flex;
    justify-content: center;
    /* border: 1px solid saddlebrown; */
}

.history-row .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-row .date p {
    margin: 0;
    width: 100px;
    padding: 7px 23px;
    background-color: #EEE2E7;
    /* border: 1px solid saddlebrown; */
    border-radius: 12px;
}

.history-row .status {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
}

/* Status Colors */
.status.complete { color: #B3A4A7; }
.status.pending { color: #eeb252; }
.status.confirmed { color: #6DCE36; }
.status.cancelled { color: #e47181; }

/* RESPONSIVE */
@media (max-width: 1024px) {
    .donation-history {
        margin: 20px 40px;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .donation-history {
        margin: 20px 20px;
    }
}
