


h2 {
    font-weight: lighter;
    font-size: 22px;  
    color: #3A3A3A;
}

input {
    outline: none;
}
/* MAIN CONTENT */
.container {
    /* border: 1px solid saddlebrown; */
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    background: #fff;
    /* border: 1px solid violet; */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 660px;
    min-height: 660px;
    max-height: 660px;
    border-radius: 25px;
}




/* RED LEVEL ELEMENTS */




.red {
    /* border: 1px solid red; */
    display: flex;
}

.section {
    height: 100%;
    flex-direction: column;
}

.section.form {
    width: 45%;
}

.section.list {
    width: 55%;
}




/* ORANGE LEVEL ELEMENTS */




.orange {
    /* border: 1px solid orange; */
    display: flex;
}

.section h2 {
    height: 8%;
    margin: 0;
    align-items: center;
    border-bottom: 2px solid #D9D9D9;
    padding-top: 15px;
}

.section.form h2 {
    padding-left: 30px;
}

.section.list h2 {
    padding-left: 20px;
}

.section .sub-section {
    width: 100%;
    height: 92%;
    height: 92%;
}

.section.form .sub-section {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0 0 0 25px;
    background-color: #F1F1F1;
    border-right: 2px solid #D9D9D9;
}

.section.list .sub-section {
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 0 0 25px 0;
}




/* YELLOW LEVEL ELEMENTS */




.yellow {
    /* border: 1px solid gold; */
    display: flex;
    width: 100%;
}

.yellow p {
    margin: 0;
}

.section.form .sub-section form {
    box-sizing: border-box;
    height: 100%;
    padding: 30px 20px;
    gap: 35px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
}

.section.list .sub-section .row {
    border-bottom: 1.5px solid #D9D9D9;
    width: 100%;
    flex-direction: column;
    position: relative;
}

.section.list .sub-section .row.header {
    flex-direction: row;
}

.section.list .sub-section .row.donation-record {
    height: 80px;
    cursor: pointer;
    overflow-y: hidden;
    flex-shrink: 0;
    transition: 0.3s ease;
}

.section.list .sub-section .row.donation-record:hover {
    background-color: #F9F9F9;
    z-index: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.section.list .sub-section .row.empty {
    border: none;
}




/* GREEN LEVEL ELEMENTS */




.green {
    /* border: 1px solid greenyellow; */
    display: flex;
    font-size: 16px;
}

.green .custom-error {
    position: absolute;
    color: red;
    top: 90px;
    left: 0;
    font-size: 12px;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    z-index: 1;
}


.section.form .sub-section form .field {
    position: relative;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.section.form .sub-section form .field.compounded {
    flex-direction: row;
    gap: 20px;
}


button.green {
    margin-bottom: 5px;
    margin-top: auto;
    padding: 15px 0;
    justify-content: center;
}

.section.list .sub-section .row .col {
    height: 80px;
    align-items: center;
}

.section.list .sub-section .row.header .col {
    height: 50px;
}

.section.list .sub-section .row .date-col {
    width: 23%;
    padding-left: 20px;
}

.section.list .sub-section .row .name-col {
    width: 50%;
    padding-left: 15px;
}

.section.list .sub-section .row .bt-col {
    width: 27%;
    justify-content: center;
}

.section.list .sub-section .row.empty .col {
    align-items: center;
    justify-content: center;
    color: #B3A3A7;
}

.section.list .sub-section .row .info {
    width: 100%;
}

.section.list .sub-section .row .info.additional {
    position: absolute;
    width: 100%;
    top: 82px;
    opacity: 0;
    padding-bottom: 15px;
    flex-direction: column;
    gap: 10px;
    transition: 0.3s ease-in;
}

.section.list .sub-section .row .info.additional.show {
    opacity: 1;
    transition-delay: 0s;
}

.section.list .sub-section .row .info.additional:not(.show) {
    transition-duration: 0.2s;
}




/* BLUE LEVEL ELEMENTS */




.blue {
    /* border: 1px solid rgb(49, 197, 255); */
    display: flex;
}

.blue .custom-error {
    top: 88px;
}

.blue .dropdown-btn {
    padding: 0 0 0 17px;
    align-items: center;
    background-color: #F1F1F1;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    color: #333;
    cursor: default;
    z-index: 10px;
}

.blue .dropdown {
    top: 50px;
    overflow: hidden;
    width: 100%;
    display: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
}

.blue .dropdown.show {
    display: flex;
}


.blue .dropdown .dropdown-content {
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
}

.blue .dropdown .dropdown-content::-webkit-scrollbar {
    width: 10px;
    height: 50px;
    overflow-y: hidden;
}

.blue .dropdown .dropdown-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.blue .dropdown .dropdown-content::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border-radius: 100px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.blue .dropdown .dropdown-content::-webkit-scrollbar-thumb:hover {
    background-color: #a2a2a2;
}

.blue .dropdown .dropdown-content .option {
    box-sizing: border-box;
    width: 100%;
    cursor: default;
    border-radius: 5px;
    font-size: 16px;
    color: #3A3A3A;
    text-decoration: none;
}

.blue .dropdown .dropdown-content .option:hover {
    background-color: #F2F3F3;
}

.blue .dropdown .dropdown-content .first {
    margin-top: 15px;
}

.blue .dropdown .dropdown-content .last {
    margin-bottom: 15px;
}


.section.form .sub-section form .field .input {
    background-color: #F1F1F1;
    border-radius: 5px;
}

.section.form .sub-section form .field .donor-search {
    position: relative;
}

.section.form .sub-section form .field .sub-field {
    flex-direction: column;
    gap: 15px;
}

.section.form .sub-section form .field .sub-field.bt {
    position: relative;
    width: 40%;
}

.section.form .sub-section form .field .sub-field.date {
    position: relative;
    width: 60%;
}

.section.form .sub-section form .field .notes {
    overflow-y: auto;
    resize: none;
    max-height: 120px;
    font-family: inherit;
    font-size: 16px;
    box-sizing: border-box;
    padding: 15px 15px 15px 17px;
    gap: 15px;
    border: none;
    outline: none;
    field-sizing: content;
}

.section.form .sub-section form .field .notes::placeholder {
    color: #B3A3A7;
}

.section.form .sub-section form .field .notes::-webkit-scrollbar {
    cursor: pointer;
    width: 20px;
}

.section.form .sub-section form .field .notes::-webkit-scrollbar-track {
    background-color: transparent;
    cursor: default;
}

.section.form .sub-section form .field .notes::-webkit-scrollbar-thumb {
    cursor: default;
    background-color: #bcbcbc;
    border: 3.5px solid #F1F1F1;
    border-radius: 10px;
}

.section.form .sub-section form .field .notes::-webkit-scrollbar-thumb:hover {
    background-color: #a2a2a2;
}

.section.form .sub-section form .field .notes::-webkit-scrollbar-button {
    height: 1.5px;
}

.section.list .sub-section .row .info.additional p {
    line-height: 20px;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
}

.section.list .sub-section .row .info.additional p.content {
    color: #B3A3A7;
    width: 100%;
    word-break: break-word;
}





/* INDIGO LEVEL ELEMENTS */





.indigo {
    /* border: 1px solid rgb(42, 0, 211); */
    display: flex;
}

.section.form .sub-section form .field .donor-search .dropdown-btn {
    gap: 10px;
}

.section.form .sub-section form .field .donor-search .dropdown {
    z-index: 100;
    padding-right: 5px;
}

.section.form .sub-section form .field .sub-field .btn-container {
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
    gap: 10px;
    background-color: #F1F1F1;
    z-index: 10;
}

.section.form .sub-section form .field .sub-field.bt .btn-container {
    cursor: default;
    position: relative;
}

.section.form .sub-section form .field .sub-field.date .btn-container {
    padding-right: 13px;
    cursor: pointer;
}


.section.list .sub-section .row .info .date-col p {
    width: 100px;
    padding: 7px 0;
    background-color: #EEE2E7;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

.section.list .sub-section .row .info .bt-col p {
    width: 53px;
    height: 27px;
    align-items: center;
    justify-content: center;
    background-color: #FF428B;
    color: #fff;
    border-radius: 12px;
}






/* MAGENTA LEVEL ELEMENTS */






.magenta {
    display: flex;
    /* border: 1px solid magenta; */
}

.section.form .sub-section form .field .donor-search .dropdown-btn img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

.section.form .sub-section form .field .donor-search .dropdown-btn .v-divider {
    height: 65%;
    border-left: 1.5px solid #c7c7c7;
}

.section.form .sub-section form .field .donor-search .dropdown-btn input {
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    border: none;
    padding-right: 10px;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
}

.section.form .sub-section form .field .donor-search .dropdown .dropdown-content {
    padding-left: 8px;
    max-height: 320px;
}

.section.form .sub-section form .field .sub-field.bt .btn-container .dropdown-btn {
    margin: 0;
}

.section.form .sub-section form .field .sub-field.bt .btn-container .dropdown-btn:hover {
    background-color: #e5e5e5;
}

.section.form .sub-section form .field .sub-field.bt .btn-container .dropdown {
    padding: 0 5px 0 0;
    left: 0;
}

.section.form .sub-section form .field .sub-field.date .btn-container input {
    font-size: 16px;
    padding: 0 0 0 17px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-radius: 5px 0 0 5px;
    /* border: 1px solid magenta */
}

.section.form .sub-section form .field .sub-field.date .btn-container input:hover {
    background-color: #e5e5e5;
}

.section.form .sub-section form .field .sub-field.date .btn-container svg {
    width: 25px;
    height: 25px;
}

.section.form .sub-section form .field .sub-field.date .btn-container input:hover + svg,
.sub-field.date .btn-container input:focus + svg,
.sub-field.date .btn-container svg:hover {
    fill: #F81A99;
}






/* BROWN LEVEL ELEMENTS */






.brown {
    display: flex;
    /* border: 1px solid brown; */
    gap: 13px;
}


.section.form .sub-section form .field .sub-field.bt .btn-container .dropdown .dropdown-content {
    padding-left: 5px;
    max-height: 175px;
}

.section.form .sub-section form .field .donor-search .dropdown .dropdown-content .option {
    padding: 10px 0 10px 10px;
}

.section.form .sub-section form .field .donor-search .dropdown .dropdown-content .option.empty {
    color: #B3A3A7;
    margin: 15px 0 15px 0;
}

.section.form .sub-section form .field .donor-search .dropdown .dropdown-content .option.empty:hover {
    background-color: transparent;
}
 





/* PINK LEVEL ELEMENTS */







.pink {
    display: flex;
    /* border: 1px solid pink; */
}

.section.form .sub-section form .field .donor-search .dropdown .dropdown-content .option img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

.section.form .sub-section form .field .donor-search .dropdown .dropdown-content .option p {
    align-items: center;
    width: 100%;
}

.section.form .sub-section form .field .donor-search .dropdown .dropdown-content .option.empty p {
    height: 35px;
}

.section.form .sub-section form .field .sub-field.bt .btn-container .dropdown .dropdown-content .option {
    padding: 10px 15px;
}

.section.form .sub-section form .field .sub-field.bt .btn-container .dropdown .dropdown-content .option:hover {
    color: #3A3A3A;
}


.section.form .sub-section form .field .date input {
    padding: 17px;
    background-color: #F1F1F1;
    border: none;
}



/* RESPONSIVE */
@media (max-width: 1024px) {

    .card {
        width: 100%;
    }
}

@media (max-width: 768px) {

}
