body{
        color: #3A3A3A;
        /*border: 1px solid slateblue;*/
        font-family: 'Instrument Sans';
        background-color: #FFF8FC;
        padding: 1.5rem 7% 0px 7%;
        margin: 0px;
    }
