@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

body {
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Instrument Sans", sans-serif;
  background-color: #FFF8FC;
  color: #3A3A3A;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.logo img {
  width: 100px;
  margin-right: 8px;
}

.nav-links {
  display: flex;
  gap: 25px;
  margin-left: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.buttons {
  font-family: inherit;
  display: flex;
  gap: 15px;
}

.btn-login {
  font-family: inherit;
  border: 2px solid #E1AFCC;
  padding: 8px 20px;
  border-radius: 25px;
  background: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

.btn-signup {
  font-family: inherit;
  border: 2px solid #E1AFCC;
  background: none;
  padding: 10px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}


.hero {
  box-sizing: border-box;
  padding: 0 5rem;
  /* border: 1px solid red; */
}

.hero h1 {
  /* border: 1px solid red; */
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 3rem 0 1.2rem 0;
}

.hero div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero p {
  margin: 1rem 0;
  text-align: center;
  max-width: 40rem;
  line-height: 1.6;
  color: #333;
}

@media(max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .buttons {
    margin-top: 15px;
  }

  .hero {
    padding: 60px 20px;
  }
}

/* MODAL STYLES */
.modal {
  display: flex;                /* necessary for centering */
  justify-content: center;      /* horizontal center */
  align-items: center;          /* vertical center */
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  pointer-events: none;         /* prevent clicks when hidden */
  transition: opacity 0.3s;
}

.modal.show {
  visibility: visible; /* show the modal */
  opacity: 1;      /* opaque */
  pointer-events: auto; /* enable interactions */
}

.modal-content {
  background: #fff;
  padding: 70px 50px;
  border-radius: 15px;
  min-height: 350px;
  width: 350px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content h2 {
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 5px;
  font-size: 30px;
}

.modal-content .register-form-container {
  position: relative;
  /* border: 1px solid #ff0b0b; */
  height: 370px;
}

.modal-content .register-form {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  /* border: 1px solid #199bff; */
  display: flex;
  flex-direction: column;
}

.modal-content .login-form-container {
  position: relative;
  height: 300px;
}

.modal-content .login-form {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  /* border: 1px solid #199bff; */
  display: flex;
  flex-direction: column;
}

.modal-content input {
  font-family: inherit;
  padding: 10px 12px;
  border: none; /* remove full box border */
  border-bottom: 1px solid #ccc; /* only bottom visible */
  background: transparent;
  border-radius: 0;
  outline: none;
  box-sizing: border-box;
  transition: 50ms;
}

.input-group {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0px; /* reduced space between input and error */
  /* border: 1px solid greenyellow; */
  margin-top: 35px;
  margin-bottom: px;
  align-items: stretch;
}


.input-field {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-field input {
  width: 100%;
  padding: 12px 30px; /* space for icons */
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
}

input::placeholder {
  color: #C2C2C2;
  font-size: 14px;
}

/* focus state for the bottom border */
.modal-content input:focus {
  border-bottom: 2px solid #F81A99;
  box-shadow: none;
}

.input-group:has(.icon.show) input,
.modal-content:has(.error-container.non-field .icon.show) input{
  border-bottom: 2px solid red;
}

.input-field .icon {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  transition: 50ms;
  width: 16px;
  height: 16px;
  fill: #C2C2C2;
  pointer-events: none;
}

.input-field:focus-within .icon {
  fill: #F81A99;
}

.input-group:has(.icon.show) .icon,
.modal-content:has(.error-container.non-field .icon.show) .icon {
  fill: red;
}

.input-field .toggle {
  position: absolute;
  right: 12px;
  font-size: 16px;
  color: #888;
  cursor: pointer;
}


.submit-btn {
  background: #F81A99;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
}

#signupModal #register-user-form .submit-btn {
  margin-top: 100px;
}

#signupModal #register-hospital-form .submit-btn {
  margin-top: 45px;
}

#loginModal .submit-btn {
  margin-top: 70px;
}

.submit-btn:hover {
  background: #d61580;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  text-decoration: none;
  color: #F81A99;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* HOVER */

.nav-links a:hover {
  color: #F81A99;
}

.buttons button:hover {
  color: #F81A99;
}

/* ERROR MESSAGES */

.error-container {
  top: 46px;
  width: 100%;
  align-items: center;
  gap: 3px;
  position: absolute;
  display: flex;
  flex-direction: row;
  /* border: 1px solid brown; */
}

.error-container.non-field {
  top: 60px;
}

.login-form .error-container.non-field {
  word-break: break-word;
  align-items: baseline;
}

.login-form .error-container.non-field .custom-error {
  margin-bottom: auto;
}

.error-container .icon {
  max-height: 15px;
  max-width: 15px;
  min-height: 15px;
  min-width: 15px;
  visibility: hidden;
}

.error-container .icon.show {
  visibility: visible;
}

.custom-error, .non-field-error {
  color: red;
  font-size: 12px;
  margin: 0px;
}

.shake {
    animation: shake 0.2s ease-in-out;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); } /* Start and end at original position */
    10% { transform: translateX(-5px); } /* Move left */
    20% { transform: translateX(5px); } /* Move right */
}

/* TOGGLE USER / HOSPITAL FORM */


.toggle-container {
    border-radius: 50px;
    background-color: #F1F1F1;
    color: #B3A3A7;
    box-sizing: border-box;
    position: relative;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    height: 40px;
    padding: 5px;
}

.slider {
    transition: 0.3s ease;
    border-radius: 100px;
    position: absolute;
    background-color: #F81A99;
    width: 171px;
    top: 5px;
    left: 5px;
    bottom: 5px;
    z-index: 0;
}

.toggle-btn {
    transition: 0.3s ease;
    padding: 0;
    width: 170px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.toggle-btn.active {
    color: #fff;
}

.toggle-btn .icon {
    transition: 0.3s ease;
    /* border: 1px solid firebrick; */
    width: 15px;
    height: auto;
    fill: #B3A3A7;
}

.toggle-btn .icon.active {
    fill: #fff;
}

.toggle-btn p {
    /* border: 1px solid firebrick; */
    font-size: 14px;
    margin: 0;
    padding: 0;
}












/* REGISTRATION STYLES */
/* Background Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.5s ease;
}

/* Success Card */
.success-container {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 200px 30px 25px 30px;
  text-align: center;
  max-width: 420px;
  width: 90%;
  animation: popUp 0.5s ease;
}

/* Check Icon */
.checkmark {
  height: 85px;
  width: 85px;
  fill: #6DCE36;
  margin-bottom: 15px;
}

/* Buttons */
.btn-primary {
  display: inline-block;
  background-color: #ff007f;
  color: white;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
  padding: 12px 28px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background-color: #e60073;
  transform: scale(1.05);
}


/* SUCCESS OVERLAY CLOSE BUTTON */
.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
}

.close-btn:hover {
  color: #F81A99;
  transform: scale(1.1);
}

.overlay p {
  color: #AAAAAA;
}

.overlay .close:hover {
  color: #ff007f;
  transform: scale(1.2);
}

.overlay.fade-out {
  animation: fadeOut 0.4s ease forwards;
}

#success-animation {
  top: 0;
  justify-self: center;
  position: absolute;
  /* border: 1px solid navy; */
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; visibility: hidden; }
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes popUp {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
