{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="{% static 'css/global-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/donate-blood-styles.css' %}">
</head>

<body>
    {% include 'header.html' %}


    <!-- MAIN CONTENT -->
    <main class="container">
        <div class="card donate-blood">
            <h2 class="red">Donate Blood</h2>
            <div class="red h-divider"></div>
            
            <!-- Scrollable donation list -->

            {% if hospital_requests %}
            <div class="red hospital-requests-list">
                
                {% for request in hospital_requests %}
                <div class="orange row" data-request-id="{{ request.id }}" data-open-time="{{ request.time_open|time:'H:i' }}" data-close-time="{{ request.time_close|time:'H:i' }}">
                    <div class="yellow col hospital">
                        {% if request.is_emergency == True %}
                        <svg class="green icon is-emergency" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="512" height="512">
                            <path d="M1,24c-.552,0-1-.447-1-1V4C0,1.794,1.794,0,4,0H21.998c1.6-.055,2.604,1.958,1.598,3.203l-3.237,4.297,3.237,4.297c1.007,1.245,.003,3.258-1.598,3.203H2v8c0,.553-.448,1-1,1Z"/>
                        </svg>
                        {% endif %}
                        {% if request.urgency != 'low' %}
                        <svg class="green icon urgency{% if request.urgency == 'medium' %} medium{% else %} high{% endif %}" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="512" height="512"><path d="M4.068,18H19.724a3,3,0,0,0,2.821-4.021L19.693,6.094A8.323,8.323,0,0,0,11.675,0h0A8.321,8.321,0,0,0,3.552,6.516l-2.35,7.6A3,3,0,0,0,4.068,18Z"/>
                            <path d="M7.1,20a5,5,0,0,0,9.8,0Z"/>
                        </svg>
                        {% endif %}
                        <p class="green">{{ request.requester.profile.hospital_name }}</p>
                    </div>
                    <div class="yellow col needed-units">
                        <svg class="green icon" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24">
                            <path d="m5.5,10.489l-3.889,4.122c-1.039,1.039-1.611,2.42-1.611,3.889s.572,2.851,1.611,3.889c1.039,1.039,2.42,1.611,3.889,1.611s2.85-.572,3.889-1.611c2.145-2.145,2.145-5.634.02-7.758l-3.909-4.142Zm17.028-1.033l-3.528-3.45-3.535,3.458c-1.95,1.95-1.95,5.122,0,7.071.944.944,2.2,1.464,3.535,1.464s2.591-.52,3.536-1.464c1.949-1.95,1.949-5.122-.008-7.079ZM10,.405l-2.828,2.767c-.756.755-1.172,1.76-1.172,2.828s.416,2.073,1.171,2.828c.755.756,1.76,1.172,2.829,1.172s2.073-.416,2.829-1.172c1.56-1.56,1.56-4.097-.008-5.664L10,.405Z"/>
                        </svg>
                        <p class="green"><span>{{ request.current_quantity }}</span>&nbsp;/ {{ request.quantity }} units</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}


            <p class="orange empty-text">No requests from hospitals yet.</p>

            
            {% endif %}
        </div>



        <!-- APPOINTMENT FORM -->

        <div class="modal" id="set-appointment-modal">
            <form class="red card" id="appointment-form">
                
                <span class="orange close" id="close-button">&times;</span>
                
                <input type="hidden" name="request" id="selected-request" value="">
                <p class="orange label">Set an appointment</p>
                
                <div class="orange form">
                    <div class="yellow calendar-container">
                        <input type="hidden" name="date" id="selected-date" value="">
                        <div class="green calendar" id="calendar"></div>

                        <script>

                        // Initialize the Flatpickr calendar
                        
                        </script>
                    </div>
                    <input type="hidden" name="time_start" id="selected-start-time" value="">
                    <input type="hidden" name="time_end" id="selected-end-time" value="">
                    <div class="yellow time-slot">
                        <div class="green section">
                            <div class="blue time-slot-selection">
                                <p class="indigo">Time Slots</p>
                                <div class="indigo" id="time-slots-container">
                                    <!-- this is where the time slots will get populated -->
                                </div>
                            </div>
                            <div class="blue schedule" id="display-schedule">
                                <div class="indigo errors-container">
                                    <div class="magenta date">
                                        <svg class="brown icon" data-id="date-error-icon" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24">
                                            <path d="m22.536,8.46L15.537,1.459C14.592.515,13.337-.006,12.001-.006s-2.592.521-3.536,1.465L1.466,8.46c-1.949,1.949-1.949,5.12,0,7.069l6.999,7.001c.944.944,2.2,1.465,3.536,1.465s2.591-.521,3.536-1.465l6.999-7.001c.944-.944,1.464-2.199,1.464-3.534s-.52-2.591-1.464-3.535Zm-1.414,5.655l-6.999,7.001c-1.134,1.133-3.11,1.133-4.244,0l-6.999-7.001c-1.169-1.169-1.169-3.072,0-4.241l6.999-7.001c.567-.566,1.32-.879,2.122-.879s1.555.312,2.122.879l6.999,7.001c.566.566.878,1.319.878,2.121s-.312,1.554-.878,2.12Zm-7.622,2.385c0,.828-.672,1.5-1.5,1.5s-1.5-.672-1.5-1.5.672-1.5,1.5-1.5,1.5.672,1.5,1.5Zm-2.5-4v-5.5c0-.553.448-1,1-1s1,.447,1,1v5.5c0,.553-.448,1-1,1s-1-.447-1-1Z"/>
                                        </svg>
                                        <p class="brown custom-error" data-id="date-field-error"></p>
                                    </div>
                                    <div class="magenta time">
                                        <svg class="brown icon" data-id="time_start-error-icon" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24">
                                            <path d="m22.536,8.46L15.537,1.459C14.592.515,13.337-.006,12.001-.006s-2.592.521-3.536,1.465L1.466,8.46c-1.949,1.949-1.949,5.12,0,7.069l6.999,7.001c.944.944,2.2,1.465,3.536,1.465s2.591-.521,3.536-1.465l6.999-7.001c.944-.944,1.464-2.199,1.464-3.534s-.52-2.591-1.464-3.535Zm-1.414,5.655l-6.999,7.001c-1.134,1.133-3.11,1.133-4.244,0l-6.999-7.001c-1.169-1.169-1.169-3.072,0-4.241l6.999-7.001c.567-.566,1.32-.879,2.122-.879s1.555.312,2.122.879l6.999,7.001c.566.566.878,1.319.878,2.121s-.312,1.554-.878,2.12Zm-7.622,2.385c0,.828-.672,1.5-1.5,1.5s-1.5-.672-1.5-1.5.672-1.5,1.5-1.5,1.5.672,1.5,1.5Zm-2.5-4v-5.5c0-.553.448-1,1-1s1,.447,1,1v5.5c0,.553-.448,1-1,1s-1-.447-1-1Z"/>
                                        </svg>
                                        <p class="brown custom-error" data-id="time_start-field-error"></p>
                                    </div>
                                </div>
                                <p class="indigo date"></p>
                                <p class="indigo time"></p>
                            </div>
                            <button type="submit" class="blue" id="set-appointment-btn">Set an appointment</button>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>

        <div class="modal" id="success-modal">
            <div class="red success card">
                <lottie-player 
                    class="orange"
                    id="success-animation"
                    src="{% static 'animations/appointment-set.json' %}"
                    background="transparent"
                    speed="1"
                    style="width: 250px; height: 250px;"
                    autoplay>
                </lottie-player>
                <p class="orange">Appointment set!</p>
            </div>
        </div>
    </main>

    <script src="{% static 'js/donate-blood-script.js' %}"></script>
</body>

</html>