{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Donation History</title>
    <link rel="stylesheet" href="{% static 'css/global-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
</head>
<body>
    
    {% include 'header.html' %}

    <!-- MAIN CONTENT -->
    <main class="history">
        <div class="card">
            <div class="spacing">
                <h2>Donation History</h2>
            </div>
            <div class="v-divider"></div>
            {% if donations %}
                <!-- Scrollable donation list -->

                <div class="history-list">
                    <!-- Header row -->
                    <div class="history-header">
                        <span class="col date">Date Donated</span>
                        <span class="col hospital">Hospital</span>
                    </div>
                
                    {% for donation in donations %}
                        <div class="history-row">
                            <span class="col date">
                                <p>{{ donation.date|date:"m/d/Y" }}</p>
                            </span>
                            <span class="col hospital">donated at {{ donation.hospital.profile.hospital_name }}</span>
                        </div>
                    {% endfor %}
                </div>

            {% else %}
                <p class="empty-text">No donation history.</p>
            {% endif %}
        </div>
    </main>

    <script src="{% static 'js/history.js' %}"></script>

</body>
</html>
