{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Blood Bridge{% endblock %}</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'css/global-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile-styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Instrument Sans' rel='stylesheet'>
</head>

<body>
    {% include 'header.html' %}

    <main class="profile-container">
        <div class="card profile-card">
            <section class="spacing">
                <p class="label">Your Profile</p>
                <div class="profile-name">
                    <div class="profile-pic" id="edit-pfp-btn">
                        <img src="{% static user.profile.profile_picture %}" alt="profile-pic">
                        <!-- icon svg -->
                    </div>
                    <div class="username">
                        <h2>{{ user.profile.full_name }}</h2>
                        <h3>{{ user.get_role_display }}</h3>
                    </div>
                    <div class="profile-actions">
                        <button id="edit-profile-btn">Edit Profile</button>
                        <a href="{% url 'logout' %}">
                            <button id="logout-btn">Logout</button>
                        </a>
                    </div>
                </div>
            </section>
            <section class="h-divider"></section>
            <section class="spacing">
                <div class="profile-details">
                    <div class="detail">
                        <p>Contact</p>
                        <h3>{{ user.profile.contact_number }}</h3>
                    </div>
                    <div class="detail">
                        <p>Blood Type</p>
                        <h3>{{ user.profile.blood_type.type }}</h3>
                    </div>
                </div>
            </section>
        </div>

        <div class="modal" id="edit-profile-details-modal">
            <form class="card edit-details" id="edit-profile-details-form">
                {% csrf_token %}
                <div class="spacing">
                    <p class="label">Edit Profile</p>
                </div>
                <div class="h-divider"></div>
                <div class="spacing">
                    <div class="form">
                        <section class="edit-name-section">
                            <div class="input-field">
                                <p>First Name</p>
                                <input type="text" name="first-name" placeholder="first name"
                                    value="{{ user.profile.first_name|default:'' }}">
                            </div>
                            <div class="input-field">
                                <p>Last Name</p>
                                <input type="text" name="last-name" placeholder="last name"
                                    value="{{ user.profile.last_name|default:'' }}">
                            </div>
                        </section>
                        <div class="input-field">
                            <p>Contact Number</p>
                            <input type="text" name="contact-number" placeholder="(+63) xxx xxx xxxx"
                                value="{{ user.profile.contact_number|default:'' }}">
                        </div>
                        <div class="input-field">
                            <p>Blood Type</p>
                            <input type="hidden" name="selected-blood-type" id="selected-blood-type">
                            <div class="dropdown-bt">
                                <p class="dropdown-bt-btn" id="dropdown-bt-btn">
                                    {{ user.profile.blood_type.type|default:"A+ / B+ / O" }}
                                </p>
                                <div class="dropdown-bt-content-bg">
                                    <div class="dropdown-bt-content" id="dropdown-bt-content">
                                        {% for bt in blood_types %}
                                        <p class="dropdown-bt-option
                                                {% if forloop.first %}first{% endif %}
                                                {% if forloop.last %}last{% endif %}" data-value="{{ bt.id }}">
                                            {{ bt.type }}
                                        </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal" id="edit-pfp-modal">
            <form class="card edit-pfp" id="edit-pfp-form">
                {% csrf_token %}

                <input type="hidden" name="selected-pfp" id="selected-pfp">

                <div class="spacing">
                    <section class="preview-pfp">
                        <img src="{% static user.profile.profile_picture %}" id="pfp-preview" alt="profile-preview">
                        <button type="submit">Save</button>
                    </section>
                </div>
                <div class="v-divider"></div>
                <div class="spacing">
                    <section class="select-pfp">
                        <p class="label">Choose Profile Picture</p>
                        <div class="selection">
                            <img src="{% static 'images/plaid.png' %}" class="pfp">
                            <img src="{% static 'images/patch.png' %}" class="pfp">
                            <img src="{% static 'images/potion.png' %}" class="pfp">
                            <img src="{% static 'images/paradise.png' %}" class="pfp">
                            <img src="{% static 'images/shimmer.png' %}" class="pfp">
                            <img src="{% static 'images/dune.png' %}" class="pfp">
                        </div>
                    </section>
                </div>
            </form>
        </div>
    </main>

    <script src="{% static 'js/profile-script.js' %}"></script>

</body>

</html>