{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donation History</title>
    <link rel="stylesheet" href="{% static 'css/global-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
</head>
<body>
    
    {% include 'header.html' %}

    <!-- MAIN CONTENT -->
    <main class="history">
        <div class="card">
            <div class="spacing">
                <h2>Request History</h2>
            </div>
            <div class="v-divider"></div>
            {% if requests %}
                <!-- Scrollable donation list -->

                <div class="history-list">
                    <!-- Header row -->
                    <div class="history-header">
                        <span class="col date">Date Donated</span>
                        <span class="col bt">Blood Type</span>
                        <span class="col compat-bt-s">Compatible Blood Types</span>
                        <span class="col status">Status</span>
                    </div>
                
                    {% for request in requests %}
                        <div class="history-row">
                            <span class="col date">
                                <p>{{ request.date_requested|date:"m/d/Y" }}</p>
                            </span>
                            <span class="col bt">
                                <p>{{ request.blood_type.type }}</p>
                            </span>
                            <span class="col compat-bt-s">
                                {% if request.blood_type.type == 'AB+' %}
                                    <p>Any</p>
                                {% else %}
                                    {% for bt in request.blood_type.compatible_with.all %}
                                        <p>{{ bt.type }}</p>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <span class="col status 
                                {% if request.status == 'complete' %}complete
                                {% elif request.status == 'pending' %}pending
                                {% elif request.status == 'confirmed' %}confirmed
                                {% elif request.status == 'cancelled' %}cancelled
                                {% endif %}
                            ">
                                {{ request.status|capfirst }}
                            </span>
                        </div>
                    {% endfor %}
                </div>

            {% else %}
                <p class="empty-text">No Request history.</p>
            {% endif %}
        </div>
    </main>

    <script src="{% static 'js/header-script.js' %}"></script>
    <script src="{% static 'js/history.js' %}"></script>

</body>
</html>
